# Configuration of the camera
camera:
{
    resolution = { width = 800; height = 800; };
    position = { x = 0; y = 0; z = -150; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 60.0;
};

primitives:
{
spheres = (
    { x = -60; y = 20; z = 0; r = 20; color = { r = 255; g = 64; b = 64; }; },
    { x = 60; y = 20; z = 0; r = 20; color = { r = 64; g = 255; b = 64; }; }
);
planes = (
    { axis = "Y"; position = 25; color = { r = 64; g = 64; b = 255; }; }
);
cones = (
    { x = -20; y = -30; z = 0; r = 15; height = 50; color = { r = 255; g = 128; b = 0; }; }
);
cylinders = (
    { x = 20; y = -30; z = 0; r = 10; height = 50; color = { r = 128; g = 0; b = 255; }; }
);
};

lights:
{
    ambient = 0.4;
    diffuse = 0.6;
    point = (
        { x = 1; y = -1; z = 2; intensity = 3.0 color = { r = 255; g = 255; b = 255; }; }
    );
    directional = (
        { x = 5; y = -1; z = 1; color = { r = 255; g = 255; b = 255; }; },
        { x = -5; y = -4; z = 1; color = { r = 255; g = 255; b = 255; }; }
    );
};