# cylinders_cones.cfg — sous-scène importable

primitives:
{
    cylinders = (
        { x = 0;   y = 0; z = -20; r = 8; height = 40;
          color = { r = 220; g = 80; b = 80; }; },
        { x = 60;  y = 0; z = -40; r = 5; height = 30;
          color = { r = 80; g = 220; b = 200; }; }
    );

    cones = (
        { x = -60; y = 0; z = -30; r = 12; height = 30;
          color = { r = 200; g = 180; b = 40; }; }
    );
};
