# Scene 4 - Arène rouge, cônes verts sur les murs, cylindre central, spirale de sphères
camera:
{
    resolution = { width = 800; height = 250; };
    position = { x = 0; y = 0; z = -180; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 70.0;
};

primitives:
{
    planes = (
        { axis = "X"; position = -100; color = { r = 200; g = 50; b = 50; }; },
        { axis = "X"; position = 100; color = { r = 200; g = 50; b = 50; }; }
    );

    cylinders = (
        { x = 0; y = 20; z = -50; r = 20; height = 400 ; color = { r = 40; g = 40; b = 40; }; }
    );

    cones = (
        { x = 100; y = 0; z = -30; r = 15; height = 60; color = { r = 40; g = 180; b = 40; }; },
        { x = 100; y = 0; z = 20; r = 15; height = 60; color = { r = 40; g = 180; b = 40; }; },
        { x = 100; y = 0; z = 90; r = 15; height = 60; color = { r = 40; g = 180; b = 40; }; },
        { x = 99; y = 2; z = 180; r = 18; height = 70; color = { r = 40; g = 180; b = 40; }; },
        { x = 98; y = 2; z = 350; r = 23; height = 100; color = { r = 40; g = 180; b = 40; }; },
        { x = -98; y = 2; z = 350; r = 23; height = 100; color = { r = 40; g = 180; b = 40; }; },
        { x = -99; y = 2; z = 180; r = 18; height = 70; color = { r = 40; g = 180; b = 40; }; },
        { x = -100; y = 0; z = 90; r = 15; height = 60; color = { r = 40; g = 180; b = 40; }; },
        { x = -100; y = 0; z = 20; r = 15; height = 60; color = { r = 40; g = 180; b = 40; }; },
        { x = -100; y = 0; z = -30; r = 15; height = 60; color = { r = 40; g = 180; b = 40; }; },
        { x = -100; y = 0; z = -30; r = 15; height = 60; color = { r = 40; g = 180; b = 40; }; rotation = { x = 0.0; y = 0.0; z = 180.0; }; },
        { x = -100; y = 0; z = 20; r = 15; height = 60; color = { r = 40; g = 180; b = 40; }; rotation = { x = 0.0; y = 0.0; z = 180.0; }; },
        { x = -100; y = 0; z = 90; r = 15; height = 60; color = { r = 40; g = 180; b = 40; }; rotation = { x = 0.0; y = 0.0; z = 180.0; }; },
        { x = -99; y = 2; z = 180; r = 18; height = 70; color = { r = 40; g = 180; b = 40; }; rotation = { x = 0.0; y = 0.0; z = 180.0; }; },
        { x = -98; y = 2; z = 350; r = 23; height = 100; color = { r = 40; g = 180; b = 40; }; rotation = { x = 0.0; y = 0.0; z = 180.0; }; },
        { x = 98; y = 2; z = 350; r = 23; height = 100; color = { r = 40; g = 180; b = 40; }; rotation = { x = 0.0; y = 0.0; z = 180.0; }; },
        { x = 99; y = 0; z = 180; r = 18; height = 70; color = { r = 40; g = 180; b = 40; }; rotation = { x = 0.0; y = 0.0; z = 180.0; }; },
        { x = 100; y = 0; z = 90; r = 15; height = 60; color = { r = 40; g = 180; b = 40; }; rotation = { x = 0.0; y = 0.0; z = 180.0; }; },
        { x = 100; y = 0; z = 20; r = 15; height = 60; color = { r = 40; g = 180; b = 40; }; rotation = { x = 0.0; y = 0.0; z = 180.0; }; },
        { x = 100; y = 0; z = -30; r = 15; height = 60; color = { r = 40; g = 180; b = 40; }; rotation = { x = 0.0; y = 0.0; z = 180.0; }; }
    );

    spheres = (
        { x = 0; y = 285; z = 10; r = 250; color = { r = 200; g = 50; b = 50; }; },
        { x = 0; y = -285; z = 10; r = 250; color = { r = 200; g = 50; b = 50; }; },
        { x = 18; y = 42; z = -55; r = 4; color = { r = 220; g = 220; b = 60; }; },
        { x = 13; y = 34; z = -23; r = 4; color = { r = 220; g = 220; b = 60; }; },
        { x = 8; y = 28; z = -27; r = 4; color = { r = 220; g = 220; b = 60; }; },
        { x = 1; y = 22; z = -30; r = 4; color = { r = 220; g = 220; b = 60; }; },
        { x = -7; y = 16; z = -29; r = 4; color = { r = 220; g = 220; b = 60; }; },
        { x = -13; y = 10; z = -25; r = 4; color = { r = 220; g = 220; b = 60; }; },
        { x = -18; y = 4; z = -59; r = 4; color = { r = 220; g = 220; b = 60; }; },
        { x = -13; y = -2; z = -65; r = 4; color = { r = 220; g = 220; b = 60; }; },
        { x = -8; y = -8; z = -68; r = 4; color = { r = 220; g = 220; b = 60; }; },
        { x = -1; y = -14; z = -69; r = 4; color = { r = 220; g = 220; b = 60; }; },
        { x = 6; y = -20; z = -68; r = 4; color = { r = 220; g = 220; b = 60; }; },
        { x = 13; y = -26; z = -65; r = 4; color = { r = 220; g = 220; b = 60; }; },
        { x = 20; y = -32; z = -56; r = 4; color = { r = 220; g = 220; b = 60; }; },
        { x = 18; y = -38; z = -53; r = 4; color = { r = 220; g = 220; b = 60; }; },

        { x = -18; y = -42; z = -55; r = 4; color = { r = 128; g = 0; b = 128; }; },
        { x = -13; y = -34; z = -23; r = 4; color = { r = 128; g = 0; b = 128; }; },
        { x = -8; y = -28; z = -27; r = 4; color = { r = 128; g = 0; b = 128; }; },
        { x = -1; y = -22; z = -30; r = 4; color = { r = 128; g = 0; b = 128; }; },
        { x = 7; y = -16; z = -29; r = 4; color = { r = 128; g = 0; b = 128; }; },
        { x = 13; y = -10; z = -25; r = 4; color = { r = 128; g = 0; b = 128; }; },
        { x = 18; y = -4; z = -59; r = 4; color = { r = 128; g = 0; b = 128; }; },
        { x = 13; y = 2; z = -65; r = 4; color = { r = 128; g = 0; b = 128; }; },
        { x = 8; y = 8; z = -68; r = 4; color = { r = 128; g = 0; b = 128; }; },
        { x = 1; y = 14; z = -69; r = 4; color = { r = 128; g = 0; b = 128; }; },
        { x = -6; y = 20; z = -68; r = 4; color = { r = 128; g = 0; b = 128; }; },
        { x = -13; y = 26; z = -65; r = 4; color = { r = 128; g = 0; b = 128; }; },
        { x = -20; y = 32; z = -56; r = 4; color = { r = 128; g = 0; b = 128; }; },
        { x = -18; y = 38; z = -53; r = 4; color = { r = 128; g = 0; b = 128; }; },

        { x = -18; y = 42; z = -55; r = 4; color = { r = 30; g = 60; b = 200; }; },
        { x = -13; y = 34; z = -23; r = 4; color = { r = 30; g = 60; b = 200; }; },
        { x = -8; y = 28; z = -27; r = 4; color = { r = 30; g = 60; b = 200; }; },
        { x = -1; y = 22; z = -30; r = 4; color = { r = 30; g = 60; b = 200; }; },
        { x = 7; y = 16; z = -29; r = 4; color = { r = 30; g = 60; b = 200; }; },
        { x = 13; y = 10; z = -25; r = 4; color = { r = 30; g = 60; b = 200; }; },
        { x = 18; y = 4; z = -59; r = 4; color = { r = 30; g = 60; b = 200; }; },
        { x = 8; y = -8; z = -68; r = 4; color = { r = 30; g = 60; b = 200; }; },
        { x = -6; y = -20; z = -68; r = 4; color = { r = 30; g = 60; b = 200; }; },
        { x = -13; y = -26; z = -65; r = 4; color = { r = 30; g = 60; b = 200; }; },
        { x = -20; y = -32; z = -56; r = 4; color = { r = 30; g = 60; b = 200; }; },
        { x = -18; y = -38; z = -53; r = 4; color = { r = 30; g = 60; b = 200; }; },

        { x = 18; y = -42; z = -55; r = 4; color = { r = 0; g = 255; b = 255; }; },
        { x = 13; y = -34; z = -23; r = 4; color = { r = 0; g = 255; b = 255; }; },
        { x = 8; y = -28; z = -27; r = 4; color = { r = 0; g = 255; b = 255; }; },
        { x = 1; y = -22; z = -30; r = 4; color = { r = 0; g = 255; b = 255; }; },
        { x = -7; y = -16; z = -29; r = 4; color = { r = 0; g = 255; b = 255; }; },
        { x = -13; y = -10; z = -25; r = 4; color = { r = 0; g = 255; b = 255; }; },
        { x = -18; y = -4; z = -59; r = 4; color = { r = 0; g = 255; b = 255; }; },
        { x = -8; y = 8; z = -68; r = 4; color = { r = 0; g = 255; b = 255; }; },
        { x = 6; y = 20; z = -68; r = 4; color = { r = 0; g = 255; b = 255; }; },
        { x = 13; y = 26; z = -65; r = 4; color = { r = 0; g = 255; b = 255; }; },
        { x = 20; y = 32; z = -56; r = 4; color = { r = 0; g = 255; b = 255; }; },
        { x = 18; y = 38; z = -53; r = 4; color = { r = 0; g = 255; b = 255; }; }
    );
};

lights:
{
    ambient = 0.4;
    diffuse = 0.6;
    point = (
        # { x = 1; y = 1; z = -1; intensity = 0.5; color = {} },
        { x = 15; y = 1; z = -80; intensity = 1.0; color = { r = 255; g = 255; b = 255; }; }
    );
    directional = (
        { x = 0; y = -1; z = 1; color = { r = 255; g = 255; b = 255; }; }
    );
};