# Scene - Triangle test
camera:
{
    resolution = { width = 800; height = 800; };
    position = { x = 0; y = 0; z = -200; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 80.0;
};

primitives:
{
    triangles = (
        {
            v0 = { x = 0.0; y = 50.0; z = 0.0; };
            v1 = { x = -50.0; y = -50.0; z = 0.0; };
            v2 = { x = 50.0; y = -50.0; z = 0.0; };
            color = { r = 255; g = 80; b = 80; };
        }
    );
};

lights:
{
    ambient = 0.5;
    diffuse = 0.6;
    point = (
        { x = 0; y = 0; z = -100; intensity = 1.0; color = { r = 255; g = 255; b = 255; }; }
    );
    directional = (
        { x = 1; y = -1; z = -1; color = { r = 255; g = 255; b = 255; }; }
    );
};